<div class="contenido">
    <div class="clearfix"></div>
    <div class="flipbook-viewport">
        <div class="container">
            <div class="flipbook">
                <div class="hard cubierta">
                    <div class="invisible"></div>
                    <img src="../../../assets/ico/Cubierta_1.png" />
                </div>
                
                <div class="hard cubierta">
                    <div class="invisible izquierda"></div>
                </div>
                
                <!-- Introducción -->
                
                <div>
                    <h2>Introducción</h2>
                    <p>Como ya vimos, las organizaciones son parte medular de nuestras vidas. Por su relevancia, a través del tiempo, han sido objeto de estudio con el propósito de conseguir que sean más productivas, más rentables y más competitivas. Para lograr dichos propósitos es necesario, entre otros factores, la generación y utilización de información financiera oportuna y confiable</p>
                    <p>Información financiera es un término que seguramente has escuchado, alguna vez te has puesto a pensar o a reflexionar sobre: ¿qué es?, ¿cómo se genera?, ¿dónde se puede visualizar? o mejor aún ¿cómo se interpreta? y ¿cómo se utiliza en la toma de decisiones empresariales?</p>
                    <p>Las respuestas a estas y otras interrogantes las encontrarás al ir abordando los temas desarrollados en esta unidad temática; adicionalmente, aprenderás a construir dos de los estados financieros básicos (estado de resultados y estado de situación financiera) con base en las Normas de Información Financiera (NIF) vigentes.</p>
                </div>
                
                <!-- 2.1 La información financiera -->
                
                <div>
                    <h2>2.1 La información financiera</h2>
                    <p>La información financiera que se obtiene de la contabilidad tiene las siguientes características:</p>
                    <ol>
                        <li>Es cuantitativa porque se expresa en unidades monetarias</li>
                        <li>Es descriptiva en razón de que muestra la posición y el desempeño financiero de la entidad</li>
                    </ol>
                    <p>El objetivo primordial de la información financiera radica en la utilidad que ésta tiene para los usuarios en la toma de decisiones económicas (figura 2.1). Dicha información se ve reflejada en los estados financieros, mismos que muestran cómo va el negocio, permitiendo evaluar su desempeño en función de los objetivos propuestos; adicionalmente, dichos estados proporcionan información con la que se puede estimar el comportamiento futuro de algunos aspectos, por ejemplo del flujo de efectivo.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                </div>
                
                <!-- 2.2 Las Normas de Información Financiera (NIF) -->

                <div>
                    <h2>2.2 Las Normas de Información Financiera (NIF)</h2>
                    <p>Las NIF (2020) definen a las Normas de Información Financiera como “el conjunto de pronunciamientos normativos, conceptuales y particulares emitidos por el Consejo Mexicano de Normas de Información Financiera (CINIF) o transferidos al CINIF, que regulan la información contenida en los estados financieros y sus notas, en un lugar y fecha determinados, que son aceptados de manera amplia y generalizada por todos los usuarios de la información financiera” (p. 5).</p>
                    <p>Las NIF tienen ocho postulados básicos (figura 2.2) que sustituyen a los Principios de Contabilidad Generalmente Aceptados como los conceptos teóricos básicos que rigen el sistema de información contable y el ambiente bajo el cual debe operar.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                </div>
                
                <!-- 2.2.1 Importancia de las Normas de Información Financiera (NIF) -->

                <div>
                    <h2>2.2.1 Importancia de las Normas de Información Financiera (NIF)</h2>
                    <p>En las últimas décadas nuestra sociedad ha experimentado cambios trascendentales en todos los ámbitos de la vida humana. Con la globalización, específicamente hablando del mundo de los negocios, se requiere hacer adecuaciones, lo que exige que la normatividad financiera también se actualice para dar respuesta a las necesidades de los interesados o usuarios de la información financiera, tal es el caso de accionistas o dueños, administradores, proveedores, acreedores, clientes y unidades gubernamentales, entre otros.</p>
                    <p>En este sentido, las NIF (figura 2.3) establecen la normatividad o marco regulador para emitir los estados financieros y así unificar los criterios para su elaboración.</p>
                    <p>Con la intención de profundizar un poco más en el tema, realiza la siguiente actividad:</p>
                    <p><a href="https://drive.google.com/file/d/1m_K2BrmVz8-EvGsXrGLFFKGzYUzOaLsm/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_2.png" /></a></p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                </div>
                
                <!-- 2.3 Estados financieros básicos -->
                <div>
                    <h2>2.3 Estados financieros básicos</h2>
                    <p>De manera personal, cuando queremos saber nuestro estado de salud acudimos con un médico. Éste nos revisa, nos hace preguntas específicas y en algunos casos nos solicita que nos realicemos algunos otros estudios, y con dicha información el médico puede darnos un diagnóstico sobre nuestro estado de salud. De igual manera, para identificar la salud financiera de una empresa o negocio necesitamos de la información que proporcionan los estados financieros.</p>
                    <p>Los estados financieros presentan el resumen de la información de todas las operaciones registradas en la contabilidad de una empresa. Cabe destacar que dicha información debe presentarse en forma ordenada, convencional y basada en las Normas de Información Financiera (NIF), con el propósito de que los usuarios interesados puedan analizar e interpretar la información para la toma de decisiones.</p>
                    <p>Por lo antes mencionado, se concluye que los estados financieros muestran, en términos monetarios, la situación económica y financiera de una empresa durante un tiempo determinado. La información que proporcionan dichos estados es medular para conocer y desde luego analizar aspectos como: el índice de rentabilidad, el grado de liquidez y de solvencia, el apalancamiento, la rotación de cuentas por cobrar, por mencionar algunos.</p>
                    <p>De acuerdo con la NIF A-3 Los estados financieros básicos son (figura 2.4):</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p>En este curso, por su alcance, solo abordaremos los dos primeros: estado de situación financiera y estado de resultados (Figura 2.5).</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p>En el siguiente video, encontrarás información complementaria acerca de los estados financieros.</p>
                    <video src="../../../../assets/video/que_son_los_estados_financieros.mp4" controls></video>
                </div>

                <!-- 2.3.1 Estado de situación financiera (también llamado estado de posición financiera o balance general) -->
                <div>
                    <h2>2.3.1 Estado de situación financiera (también llamado estado de posición financiera o balance general)</h2>
                    <p>Al estado de situación financiera también se le conoce como estado de posición financiera o balance general; es un documento financiero que muestra en términos monetarios el valor de los activos (bienes y derechos); de los pasivos (deudas y obligaciones), así como del capital contable (valor del patrimonio) de la entidad. Cabe resaltar que este documento financiero refleja la situación financiera de una entidad económica a una fecha determinada.</p>
                    <p>En la figura 2.6 encontrarás algunas definiciones del estado de situación financiera.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p>En otras palabras y como analogía, el estado de situación financiera es como una fotografía que tomamos en un momento en el tiempo, que nos da información de cómo se encuentra la empresa justo en ese momento en términos de qué recursos tiene para trabajar y a quién se los debe (figura 2.7), razón por la que el balance general siempre es a una fecha determinada.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                </div>
                
                <!-- 2.3.1.1 Estructura del estado de situación financiera -->
                <div>
                    <h2>2.3.1.1 Estructura del estado de situación financiera</h2>
                    <p>La estructura del estado de situación financiera se conforma de las siguientes partes:</p>
                    <ol>
                        <li><b>Encabezado</b>. Se conforma por: nombre del negocio o sociedad; enseguida, de manera explícita, se hace mención que se trata del estado de situación financiera o estado de posición financiera; se especifica el tipo de moneda y, finalmente la fecha (siempre es a una fecha determinada y no a un período).</li>
                        <li><b>Cuerpo</b>. Se estructura con tres grandes grupos de cuentas: Activos, Pasivos y Capital contable.</li>
                        <li><b>Firmas</b>. Esta parte por lo regular aparece al final del documento financiero, en la que se visualiza los nombres y firmas del propietario o funcionario quien autoriza, así como de quienes lo elaboran y lo revisan.</li>
                    </ol>
                    <p>En la Figura 2.8 se muestran las partes antes mencionadas</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <h3>Cuentas del estado de situación financiera</h3>
                    <p>Tal y como se ha mencionado las cuentas que conforman al estado de situación financiera son: Activo, Pasivo y Capital Contable, mismas que a continuación se detallan:</p>
                    <p><b>Activo</b>. En términos sencillos los activos representan tanto los bienes de la entidad así como los derechos que ha adquirido. En este entendido los bienes son todo aquello que la empresa adquiere (de contado o a crédito) para su adecuada operación; en tanto que los derechos surgen de los acuerdos que contrae la empresa con terceros, por ejemplo en la contratación de un seguro o una fianza la empresa tiene el derecho de hacer valer la póliza contratada en caso de un siniestro. De acuerdo con las NIF A-5 un activo es “un recurso controlado por una entidad, identificado, cuantificado en términos monetarios, del que se espera fundamentalmente beneficios económicos futuros, derivado de operaciones ocurridas en el pasado, que han afectado económicamente a dicha entidad”.</p>
                    <p>Las cuentas de Activo de acuerdo con las NIF (2020) se clasifican en:</p>
                    <ol>
                        <li>
                            <b>Activo a corto plazo o circulante</b>. Es aquél que se espera realizar, consumir o vender durante el ciclo normal de operaciones de la entidad (NIF B-11); de manera general se considera el corto plazo hasta doce meses. En la figura 2.9 se muestran algunos ejemplos de activos circulantes.
                            <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                        </li>
                        <li>
                            <b>Activo a largo plazo o no circulante</b>. Incluye activos tangibles, intangibles y financieros, que por su naturaleza, son recuperables a largo plazo; es decir, no son recuperables en el ciclo normal de operaciones (NIF-B6). Dentro de este grupo se encuentran las propiedades, planta y equipo los cuales tienen como principal característica que son tangibles y depreciables. En la figura 2.10 podrás visualizar algunos ejemplos de activos no circulantes.
                            <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                        </li>
                    </ol>
                    <p><b>Pasivo</b>. comprende las deudas y obligaciones que tiene la empresa. Una deuda es un compromiso de pago; en tanto que la obligación es una responsabilidad o compromiso que adquiere la empresa en la que se obliga a cumplir los términos acordados en un contrato. Las (NIF A-5) definen al pasivo como “es una obligación presente de una entidad, identificada, cuantificada en términos monetarios que representa una probable disminución de recursos económicos y derivados de operaciones ocurridas en el pasado, que han afectado económicamente a dicha entidad”. Las (NIF A-5) definen al pasivo como “es una obligación presente de una entidad, identificada, cuantificada en términos monetarios que representa una probable disminución de recursos económicos y derivados de operaciones ocurridas en el pasado, que han afectado económicamente a dicha entidad”.</p>
                    <p>Las cuentas de Pasivo de acuerdo con las NIF se clasifican en:</p>
                    <ol>
                        <li><b>Pasivo a corto plazo o circulante</b>. Se refiere a las deudas y obligaciones de la entidad cuyo vencimiento es a corto plazo; es decir, con vencimiento no mayor de un año.</li>
                        <li><b>Pasivo a largo plazo o no circulante</b>. Siendo su principal característica que el vencimiento de la deuda o de la obligación es mayor a un año.</li>
                    </ol>
                    <p>En la Figura 2.11 se muestran dos cuentas que pertenecen al pasivo.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p><b>Capital contable</b>. Se refiere al patrimonio de la empresa, mismo que se conforma por el capital contribuido y por el capital ganado. El capital contribuido es la porción del capital contable que lo integran las aportaciones de los propietarios; incluye las aportaciones para futuros aumentos de capital; las primas de emisión de acciones y otros instrumentos financieros que por sustancia económica califican como capital (NIF, 2020).</p>
                    <p>El capital ganado se integra principalmente por las utilidades o ganancias y la reserva legal.</p>
                    <p>En la Figura 2.12 se muestran dos cuentas que son parte del capital contable.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p>En la siguiente lectura se abordan a detalle las principales cuentas que conforman al estado de situación financiera.</p>
                    <p><a href="https://drive.google.com/file/d/1KsA8EokAjx2tc8okydpVK11JMRDN2Iem/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                    <p>A continuación, encontrarás un organizador gráfico, como material de apoyo, que contiene la clasificación de las principales cuentas del estado de situación financiera.</p>
                    <p><a href="https://drive.google.com/file/d/1WbZdO-6b27OxTUb-BtQYj7rxEJo1ps45/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                    <p>Ya cuentas con los elementos suficientes para realizar las siguientes actividades de aprendizaje:</p>
                    <p><a href="https://drive.google.com/file/d/1tO2N_u-ukLA-k2GPdbEK07-KbFWVQexa/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_1.png" /></a></p>
                    <p><a href="https://drive.google.com/file/d/1EVVWigXTf8G5munKa0WPUHqCTyyJNf-u/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_2.png" /></a></p>
                </div>

                <!-- 2.3.1.2 Formas de presentar el estado de situación financiera -->
                
                <div>
                    <h2>2.3.1.2 Formas de presentar el estado de situación financiera</h2>
                    <p>En México y de acuerdo con las NIF B-6 las formas más utilizadas para presentar el estado de situación financiera son: en forma de cuenta y en forma de reporte.</p>
                    <ol>
                        <li>
                            <b>Estado de situación financiera en forma de Cuenta</b>. Tiene un formato horizontal, anotando en la parte izquierda el Activo y en la parte derecha el Pasivo y el Capital Contable. Se basa en la fórmula <b>A = P + CC</b> tal como se muestra en la figura 2.13
                            <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                        </li>
                        <li>
                            <b>Estado de situación financiera en forma de reporte</b>. Consiste en presentar en forma vertical, las cuentas del Activo, Pasivo y Capital contable, tal como se aprecia en la figura 2.14
                            <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                        </li>
                    </ol>
                    <p>Ahora que conoces las formas en que se puede presentar el estado de situación financiera, te invitamos a realizar la siguiente actividad de aprendizaje:</p>
                    <p><a href="https://drive.google.com/file/d/1qN_gee6F8N6Kx1ucd4TnrSE08WSNmD3o/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_2.png" /></a></p>
                    <p>Hasta este momento ya tienes los elementos teóricos necesarios para comprender qué es el estado de situación financiera, su estructura y sobre todo su importancia.</p>
                    <p>Como ya se ha mencionado el estado de situación financiera muestra el resumen en términos monetarios de las operaciones de una entidad a una fecha determinada. Todos los estados financieros se basan en la información contable de la entidad, sin dicha información no se podría generar un estado financiero.</p>
                    <p>Es importante mencionar que la contabilidad “es una técnica que se utiliza para el registro de las operaciones que afectan económicamente a una entidad y que produce sistemática y estructuralmente información financiera” (NIF A-1).</p>
                    <p>Por lo expuesto anteriormente, a continuación veremos cómo se lleva acabo el registro contable de las operaciones de una empresa.</p>
                    <p>Para ello es importante que realices las siguientes lecturas:</p>
                    <p><a href="https://drive.google.com/file/d/1_n-qPwjYgUkyRFddIKBj6y2lxe5QVzAk/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                    <p><a href="https://drive.google.com/file/d/1cYDyCRrZAVszHFqI6H5NVMaIHAmo6uUE/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                    <p>En el siguiente video se explica la teoría de la partida doble.</p>
                    <video src="../../../../assets/video/que_son_los_estados_financieros.mp4" controls></video>
                    <p>Ya cuentas con los elementos necesarios para realizar las siguientes actividades de aprendizaje:</p>
                    <p><a href="https://drive.google.com/file/d/1TdUF74kWaSFovBI_cSQJTlCLRAzpYnXa/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_1.png" /></a></p>
                    <p><a href="https://drive.google.com/file/d/1cWTUYJ1EUlkh7oPX-6N1_PXHlVTz2Zlp/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_2.png" /></a></p>
                </div>

                <!-- 2.3.2 Estado de resultados -->

                <div>
                    <h2>2.3.2 Estado de resultados</h2>
                    <p>Por lo regular, las empresas tienen dos objetivos:</p>
                    <ol>
                        <li><b>Un objetivo social</b>, en virtud de que brindan a la sociedad bienes y servicios para la satisfacción de necesidades humanas, siendo a la vez una fuente de empleo.</li>
                        <li><b>Un objetivo económico</b>, en razón de que persiguen obtener utilidades.</li>
                    </ol>
                    <p>El estado financiero que muestra si se cumplió o no el objetivo económico es el Estado de resultados. Éste nos da el dato de ¿cuánto ganamos o cuánto perdimos? en un período determinado (Figuras 2.15 y 2.16).</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p>García y Mendoza (2013) definen al estado de resultados como “el estado financiero que muestra cómo se ha obtenido la utilidad o la pérdida del ejercicio de una entidad, durante un período determinado. Enfatizando que es un estado financiero que muestra los ingresos, costos y gastos, así como la utilidad o pérdida resultante en el periodo” (p. 63)</p>
                </div>

                <!-- 2.3.2.1 Estructura del estado de resultados -->

                <div>
                    <h2>2.3.2.1 Estructura del estado de resultados</h2>
                    <p>Al igual que el estado de situación financiera el Estado de resultados debe cumplir con una estructura conformada por las siguientes partes:</p>
                    <ol>
                        <li><b>Encabezado</b>. se conforma por los siguientes datos: nombre de la empresa, mención de ser estado de resultados y el período al que hace referencia.</li>
                        <li><b>Cuerpo</b>. se conforma por las cuentas de ingresos y egresos hasta obtener la utilidad neta, como puede observarse en la figura 2.17.</li>
                        <li><b>Firmas</b>. es la última parte del estado de resultados donde se plasma las firmas de quienes lo elaboran y lo autorizan.</li>
                    </ol>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p><a href="https://drive.google.com/file/d/1wFrqc320UgwGzqKmd1t8emtOMFLMd1F7/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_1.png" /></a></p>
                </div>

                <!-- 2.3.2.2 Cuentas del estado de resultados -->

                <div>
                    <h2>2.3.2.2 Cuentas del estado de resultados</h2>
                    <p>Las cuentas del estado de resultados se clasifican en dos grupos: CUENTAS DE INGRESOS y CUENTAS DE EGRESOS (Figura 2.18). Si la suma de los ingresos es mayor que la suma de los egresos se tendrá una utilidad y por el contrario si la suma de los egresos es mayor que la suma de los ingresos entonces se tendrá una pérdida.</p>
                    <img src="../../../../assets/ico/default.jpg" style="height: 10vh;" />
                    <p>A continuación se definen los rubros que conforman al estado de resultados:</p>
                    <table>
                        <tr>
                            <td class="izquierda">Ventas o ingresos netos</td>
                            <td class="izquierda">Ventas o ingresos netos. Ingresos derivados de la venta de mercancía y de la prestación de servicios. El rubro VENTAS incluye las ventas realizadas a crédito, así como las de contado.</td>
                        </tr>
                        <tr>
                            <td class="izquierda">Costo de ventas</td>
                            <td class="izquierda">Costo de ventas. Es lo que a la empresa le costó adquirir o producir la mercancía o servicios que vendió.</td>
                        </tr>
                        <tr>
                            <td class="izquierda">Utilidad o pérdida bruta</td>
                            <td class="izquierda">Diferencia que resulta de restar el costo de ventas a las ventas; si dicha diferencia es positiva se tiene utilidad bruta, de lo contrario se tiene una pérdida bruta.</td>
                        </tr>
                        <tr>
                            <td class="izquierda">
                                Gastos generales<br />
                                Incluye:
                                <ul>
                                    <li>Gastos de venta</li>
                                    <li>Gastos de administración</li>
                                    <li>Otros ingresos</li>
                                    <li>Otros gastos</li>
                                </ul>
                            </td>
                            <td class="izquierda">
                                Gastos de venta. Gastos que se originan por la comercialización de bienes y servicios.<br />
                                Gastos de administración. Gastos que se originan por llevar a cabo las funciones de dirección y de administración.<br />
                                Otros ingresos. Este rubro se refiere a los ingresos que no se derivan de las actividades normales (correspondientes al giro) ni recurrentes de la entidad, por ejemplo: utilidad en venta de activos, rentas recibidas, comisiones ganadas por operaciones no financieras, donativos y cualquier otro ingreso que no tenga una identificación específica (García y Mendoza, 2013; Lara 2017).<br />
                                Otros gastos. Gastos que no se relacionan con el giro de la entidad, por ejemplo, los costos de una huelga o las reparaciones por daños de un fenómeno natural. (García y Mendoza, 2013; Lara 2017). También “se consideran otros gastos los donativos, obsequios, pérdida en venta de active fijo y cualquier gasto que no tenga una identificación específica” (Escarpulli, 2012, p.56).
                            </td>
                        </tr>
                        <tr>
                            <td class="izquierda">Utilidad de operación (EBIT)</td>
                            <td class="izquierda">Diferencia de restar los gastos generales a la utilidad o pérdida bruta. Por sus siglas en inglés se denomina EBIT: Earnings Before Interest and Taxes (ganancias antes de intereses e impuestos).</td>
                        </tr>
                        <tr>
                            <td class="izquierda">
                                Resultado integral de financiamiento (RIF), se conforma por ingresos y gastos relacionados con actividades de tipo financiero<br />
                                Incluye:
                                <ul>
                                    <li>Intereses devengados</li>
                                    <li>Fluctuación cambiaria</li>
                                    <li>Cambios en el valor razonable de activos y pasivos financieros</li>
                                    <li>Resultado por posición monetaria (REPOMO)</li>
                                </ul>
                            </td>
                            <td class="izquierda">
                                Gastos por intereses, también conocidos como intereses a cargo o gastos financieros.Intereses pagados por el manejo del dinero de la entidad (comisiones bancarias) o de las cuentas por pagar (intereses derivados de un préstamo).<br />
                                Ingresos por intereses o intereses a favor.Intereses derivados de las cuentas por cobrar o de las inversiones temporales.<br />
                                Ganancia cambiaria. Ganancia generada por las fluctuaciones en el tipo de cambio.Por ejemplo, cuando se tienen cuentas bancarias, cuentas por cobrar y/o por pagar en moneda extranjera.<br />
                                Pérdida cambiaria. Pérdida generada por las fluctuaciones en el tipo de cambio.Por ejemplo, cuando se tienen cuentas bancarias, cuentas por cobrar y/o por pagar en moneda extranjera.<br />
                                Cambios en el valor razonable de activos y pasivos financieros.Se genera como resultado de la modificación en el valor de los instrumentos financieros de capital, por ejemplo, bonos o acciones, por las condiciones específicas del mercado, la cual genera un resultado que puede ser positivo o negativo para las empresas que tienen invertidos sus excedentes en este tipo de instrumentos.<br />
                                Resultado por posición monetaria (REPOMO).Utilidad o pérdida que se obtiene al revaluar los activos y pasivos monetarios por los efectos de la inflación.
                            </td>
                        </tr>
                        <tr>
                            <td class="izquierda">Utilidad o pérdida antes de impuestos a la utilidad</td>
                            <td class="izquierda">Representa el importe que resulta de restar a los ingresos los costos y gastos incluidos en el estado de resultados, sin considerer aún los impuestos a la utilidad, las operaciones discontinuadas y los otros resultados integrales.</td>
                        </tr>
                        <tr>
                            <td class="izquierda">Impuestos a la utilidad</td>
                            <td class="izquierda">Impuestos a la utilidad del periodo, sin incluir el impuesto atribuible a operaciones discontinuadas y otros resultados integrals (NIF B-3).</td>
                        </tr>
                        <tr>
                            <td class="izquierda">Utilidad o pérdida de operaciones continuas (operaciones de la empresa)</td>
                            <td class="izquierda">Es la suma algebraica de la utilidad o pérdida antes de impuestos a la utilidad y el rubro de impuestos a la utilidad. En caso de no existir operaciones discontinuadas, este nivel debe considerarse como la utilidad o pérdida neta (NIF B-3).</td>
                        </tr>
                        <tr>
                            <td class="izquierda">Operaciones discontinuadas</td>
                            <td class="izquierda">En este rubro deben presentarse los ingresos, costos y gastos derivados de las operaciones discontinuadas. Debe entenderse como operación discontinuada el proceso de interrupción definitiva de una actividad de negocios significativa de la entidad (NIF B-3).</td>
                        </tr>
                        <tr>
                            <td class="izquierda">Utilidad o pérdida neta</td>
                            <td class="izquierda">Es la suma algebraica de la utilidad o pérdida de operaciones continuas y, en su caso, el rubro de operaciones discontinuadas (NIF B-3).</td>
                        </tr>
                        <caption>Hernández, J., Rodríguez, E. & Jiménez, Y. (2020).</caption>
                    </table>
                    <p>Como puede apreciarse los primeros rubros que conforman al estado de resultados son las ventas o ingresos y el costo de ventas, ambos estás estrechamente relacionados con los inventarios. En este sentido, el registro y control de inventarios (mercancías) cobra de gran relevancia.</p>
                    <p>En la siguiente lectura se abordan los procedimientos para el registro y control de inventarios, cabe destacar, que los inventarios perpetuos o continuos son los que utilizarás en este curso.</p>
                    <p><a href="https://drive.google.com/file/d/10b6tkj21VZ7b51QAMDkiffw5OOP2u3M4/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                    <p><a href="https://drive.google.com/file/d/1Wiwb7oOjfUsoxhhUXustPzDB1geD6BVe/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_1.png" /></a></p>
                    <p><a href="https://drive.google.com/file/d/1O539oTp3lY6yislzrx9lUzFjZHesMTg6/view?usp=sharing" target="_blank"><img class="post-it" src="../../../../assets/ico/Actividad1_2.png" /></a></p>
                    <p>Otro aspecto importante que se considera tanto en el estado de resultados como en el estado se situación financiera es la depreciación.</p>
                    <p>Conoce más sobre este útil e interesante tema en la siguiente lectura</p>
                    <p><a href="https://drive.google.com/file/d/1o_J0UNphZjootqPz50grDELyirlbyAeF/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                    <p>Con el tema antes explicado, has concluido esta unidad temática. Te invitamos a contestar los reactivos de la siguiente evaluación.</p>
                    <p><a href="https://drive.google.com/file/d/10b6tkj21VZ7b51QAMDkiffw5OOP2u3M4/view" target="_blank"><img class="post-it" src="../../../../assets/ico/lectura.png" /></a></p>
                </div>

                <!-- Cierre de la unidad temática -->

                <div>
                    <h2>Cierre de la unidad temática</h2>
                    <p>¡Felicidades! ya concluiste esta unidad temática. Ahora tienes un panorama más claro acerca de qué es la información financiera, de dónde se obtiene, así como los estados financieros en los que se muestra. Adicionalmente, cuentas con conocimientos básicos sobre la construcción de dos de los estados financieros más importantes (estado de situación financiera y estado de resultados); qué normatividad hay al respecto, y sobre todo la relevancia y el impacto que tiene la información financiera en la toma de decisiones empresariales.</p>
                    <h2>Te invitamos a continuar con el estudio de las siguientes unidades temáticas de este polilibro.</h2>
                </div>

                <!-- Evaluación -->

                <div>
                    <h2>Evaluación</h2>
                    <p>Todavía no hay nada pa'</p>
                </div>

                <div></div>
                
                <div class="hard cubierta">
                    <div class="invisible"></div>
                </div>
                
                <div class="hard cubierta">
                    <div class="invisible izquierda"></div>
                </div>
            </div>
        </div>
    </div>
</div>