<div class="navegacion">
    <ul class="unidades">
        <li (click)="cambiarUnidad(1)" class="color-unidad1 seleccionado">Unidad 1</li>
        <li (click)="cambiarUnidad(2)" class="color-unidad2">Unidad 2</li>
        <li (click)="cambiarUnidad(3)" class="color-unidad3">Unidad 3</li>
        <li (click)="cambiarUnidad(4)" class="color-unidad4">Unidad 4</li>
        <li (click)="cambiarUnidad(5)" class="color-unidad5">Unidad 5</li>
    </ul>

    <div class="clearfix"></div>
    
    <ul class="cuadro-temas color-unidad1" *ngIf="unidad==1">
        <li id="p3">Introducción</li>
        <li id="p4">Unidad de competencia</li>
        <li id="p5">1.1. La empresa</li>
        <li id="p6" class="subtema">1.1.1 Constitución jurídica</li>
        <li id="p8" class="subtema">1.1.2 El área financiera en la estructura organizacional</li>
        <li id="p10">1.2 Función y objetivo de las finanzas empresariales</li>
        <li id="p14">1.3 Las finanzas empresariales y su relación con otras disciplinas</li>
        <li id="p15">1.4. Factores del micro y macro ambiente que impactan a la empresa y a sus finanzas</li>
        <li id="p17">Material de apoyo</li>
        <li id="p18">Cierre de la unidad temática</li>
        <li id="p19">Evaluación</li>
        <li id="p20">Referencias</li>
    </ul>
    
    <ul class="cuadro-temas color-unidad2" *ngIf="unidad==2">
        <li id="p3">Introducción</li>
        <li id="p4">2.1 La información financiera</li>
        <li id="p5">2.2 Las Normas de Información Financiera (NIF)</li>
        <li id="p6" class="subtema">2.2.1 Importancia de las Normas de Información Financiera (NIF)</li>
        <li id="p7">2.3 Estados financieros básicos</li>
        <li id="p9" class="subtema">2.3.1 Estado de situación financiera</li>
        <li id="p11" class="subsubtema">2.3.1.1 Estructura del estado de situación financiera</li>
        <li id="p12" class="subsubtema">2.3.1.2 Formas de presentar el estado de situación financiera</li>
        <li id="p13" class="subtema">2.3.2 Estado de resultados</li>
        <li id="p14" class="subsubtema">2.3.2.1 Estructura del estado de resultados</li>
        <li id="p15" class="subsubtema">2.3.2.2 Cuentas del estado de resultados</li>
        <li id="p16">Cierre de la unidad temática</li>
        <li id="p17">Evaluación</li>
    </ul>
    
</div>