<div class="navegacion">
    <ul class="unidades">
        <li class="color-unidad1 seleccionado">Unidad 1</li>
        <li class="color-unidad2">Unidad 2</li>
        <li class="color-unidad3">Unidad 3</li>
        <li class="color-unidad4">Unidad 4</li>
        <li class="color-unidad5">Unidad 5</li>
    </ul>

    <div class="clearfix"></div>
    
    <ul class="cuadro-temas color-unidad1">
        <li id="p3" class="seleccionado">Introducción</li>
        <li id="p4">Unidad de competencia</li>
        <li id="p5">1.1. La empresa</li>
        <li id="p6" class="subtema">1.1.1 Constitución jurídica</li>
        <li id="p8" class="subtema">1.1.2 El área financiera en la estructura organizacional</li>
        <li id="p10">1.2 Función y objetivo de las finanzas empresariales</li>
        <li id="p7">1.3 Las finanzas empresariales y su relación con otras disciplinas</li>
        <li id="p8">1.4. Factores del micro y macro ambiente que impactan a la empresa y a sus finanzas</li>
        <li id="p9">Material de apoyo</li>
        <li id="p10">Cierre de la unidad temática</li>
        <li id="p11">Evaluación</li>
        <li id="p12">Referencias</li>
    </ul>
    
</div>